@import '../../../../styles/index.scss';

.top-container{
  display: flex;
  height: 200px;
  width: 100%;
  margin-top: 130px;
  padding: 15px 16px;
  gap: 24px;
  align-items: center;

  @include tablet{
    margin-top: 100px;
    padding: 15px 32px;
  }
}

.left-section{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  padding: 32px 35px 32px 36px;
  height: 200px;
  width: 100%;
  background-color: #141218;
  background-image: url('https://res.cloudinary.com/dlinprg6k/image/upload/v1728435557/image_7_yrxgwt.png'),;
  background-repeat: no-repeat;
  background-position: top, center;
  background-size: contain;
  border-radius: 16px;

  @include tablet{
    padding-left: 41px;
    padding-top: 39px;
    padding-bottom: 57px;
  }

  .title{
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 28px;
    line-height: 36px;
    text-align: center;

    @include tablet{
      width: 52%;
      font-size: 45px;
      line-height: 52px;
      text-align: justify;
    }
  }
  .text{
    color: #C7C7CC;
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 12px;

    @include tablet{
      font-size: 16px;
    }
  }
  .girl-image{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1px;
    right: 13%;
    display: none;

    @include tablet{
      display: flex;
    }
  }
  .boy-image{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1px;
    right: 0%;

    display: none;

    @include tablet{
      display: flex;
    }
  }
}

.right-section{
  background-image: url('https://res.cloudinary.com/dlinprg6k/image/upload/v1728435650/Frame_269_j8ytzo.png');
  height: 200px;
  width: 210px;
}