@import '../../../../styles/index.scss';

/*change password overlay*/
.claim-button-container {
  margin: 90px 30px 0 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url('https://res.cloudinary.com/dlinprg6k/image/upload/v1738020258/Ellipse_3_5_x2pk5q.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 16px;
  color: #fff;
  border-radius: 25px;
  align-items: center;
  width: 30%;
  min-height: 100vh;
  padding: 16px 32px;
  gap: 16px;
  font-family: 'Roboto';
  margin-top: 112px;
  margin-right: 32px;

  .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    .notification-section {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .notification-section h2 {
      font-size: 30px;
      color: #e5e5ea;
      margin-bottom: 20px;
    }

    .notifications {
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 10px;
      box-sizing: border-box;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    .notifications:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .notification-messages {
      background-color: rgba(49, 48, 48, 1);
      width: calc(100% - 7px);
      padding: 10px 0 10px 10px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-left: 7px;
      line-height: 20px;
    }

    .notification-messages h1 {
      font-size: 15px;
      margin-bottom: 5px;
      font-weight: 700;
    }

    .notification-messages p {
      color: #8e8e93;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
